/* map picker */
.image-maps {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* div holding the images */
.maps-div {
  width: 400px;
  height: 300px;
  padding: 10px;
}
/* images inside of div (maps) */
.maps {
  height: 100%;
  width: 100%;
  transition: 0.1s ease-in;
}
.maps-div:hover .maps {
  transform: scale(1.1);
  cursor: pointer;
}
