.home {
  width: 65vw;
}
/* map picker */
.image-maps {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
/* div holding the images */
.maps-div {
  width: 50%;
  height: 5%;
  margin: 1em;
  padding: 1em;
}
.maps-div {
  transition: 0.1s ease-in;
  border-radius: 3%;
}
.maps-div:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}

/* images inside of div (maps) */
.maps {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}

@media screen and (max-width: 1280px) {
  .home {
    width: 90vw;
  }
  .image-maps {
    flex-wrap: wrap;
  }
  .maps-div {
    width: 80%;
  }
}
