/* play-area */
/* div holding maps*/
.play-area {
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 1.5em;
  width: 65vw;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.map-div {
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5em;
}
.play-map-img {
  border-radius: 1%;
  width: 100%;
}
.selector {
  padding: 10px;
  margin-left: 10px;
  margin-top: -10px;
  color: #000000;
  background-color: #f4f4f4;
  position: absolute;
  z-index: 2;
}
.selector-options:hover {
  cursor: pointer;
  color: #f4f4f4;
  background-color: #000000;
}

.win-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.win-modal {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f4f4f4;
  padding: 1.2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.win-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.win-buttons {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
}
.cancel,
.submit {
  border: none;
  padding: 15px;
  margin: 5px;
  border-radius: 5%;
  color: #f4f4f4;
  background-color: #fb99bf;
  transition: 0.5s ease-in;
}
.cancel:hover,
.submit:hover {
  background-color: #ffffff;
  color: #fb99bf;
  cursor: pointer;
}

@media screen and (min-height: 1080px) {
  .win-modal {
    top: 20%;
    transform: translate(-50%, -30%);
  }
}
